<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>OUR COMPANY</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<script src="form.js"></script>
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html">My <span>Company</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Generic</a></li>
					<li><a href="elements.html">Elements</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>My Company</h1>
						<p>My idea of good company is the company of clever, well-informed people who have a great deal of conversation;<br /> that is what I call good company.</p>
					</header>
					<a href="#main" class="button big scrolly">About us</a>
				</div>
			</section>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<!-- 2 Columns -->
								<div class="flex flex-2">
									<div class="col col1">
										<div class="image round fit">
											<a href="generic.html" class="link"><img src="images/pic01.jpg" alt="" /></a>
										</div>
									</div>
									<div class="col col2">
										<h3>About Us</h3>
										<p>When you're a company as prolific as our's, what more can you say about yourself that hasn't already been said?

											Unlike many company profiles that drag on forever, XYZ highlights its defining events with one paragraph each.
											
											This sounds easy, but when you consider how much XYZ has done and the hundreds of acquisitions and projects it has been involved in, it's hard to limit that to one page.
											
											While they do link to a page with an in-depth history of the company from 1998 to 2014, XYZ doesn't attempt to bore you with the details right off the bat.</p>
										<a href="#" class="button">Learn More</a>
									</div>
								</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style2">
						<div class="inner">
							<div class="flex flex-2">
								<div class="col col2">
									<h3>Pricing</h3>
									<p>About Pricing,About Pricing,About Pricing,About Pricing,About Pricing</p>
									<table style="width:100%">
										<tr>
										  <th>Product Name</th>
										  <th>Product ID</th> 
										  <th>Price(Rs)</th>
										</tr>
										<tr>
										  <td>XYZ</td>
										  <td>1706012</td>
										  <td>400</td>
										</tr>
										<tr>
										  <td>GHT</td>
										  <td>1706011</td>
										  <td>300</td>
										</tr>
										<tr>
										  <td>TYR</td>
										  <td>1706013</td>
										  <td>680</td>
										</tr>
									  </table>
									  
									<a href="#" class="button">Learn More</a>
								</div>
								<div class="col col1 first">
									<div class="image round fit">
										<a href="generic.html" class="link"><img src="images/pic02.jpg" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<header class="align-center">
								<h2>OUT TEAM</h2>
								<p>The Top performer of our company</p>
							</header>
							<div class="flex flex-3">
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/pic03.jpg" alt="" />
									</div>
									<p>William</p>
									<a href="#" class="button">Learn More</a>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/pic05.jpg" alt="" />
									</div>
									<p>Kate</p>									
									<a href="#" class="button">Learn More</a>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/pic04.jpg" alt="" />
									</div>
									<p>Allen</p>										
									<a href="#" class="button">Learn More</a>
								</div>
							</div>
						</div>
					</section>

			</div>
			<div class="container">
				<div class="imagebg"></div>
				<div class="row " style="margin-top: 50px">
					<div class="col-md-6 col-md-offset-3 form-container">
						<h2>SUGGESTION FORM</h2> 
						<p> Please provide your feedback below: </p>
						<form role="form" method="post" id="reused_form">
							
							<div class="row">
								<div class="col-sm-12 form-group">
									<label for="comments"> Comments:</label>
									<textarea class="form-control" type="textarea" name="comments" id="comments" placeholder="Your Comments" maxlength="6000" rows="7"></textarea>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 form-group">
									<label for="name"> Your Name:</label>
									<input type="text" class="form-control" id="name" name="name" required>
								</div>
								<div class="col-sm-6 form-group">
									<label for="email"> Email:</label>
									<input type="email" class="form-control" id="email" name="email" required>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 form-group">
									<button type="submit" class="btn btn-lg btn-warning btn-block" >Post </button>
								</div>
							</div>
						</form>
						<div id="success_message" style="width:100%; height:100%; display:none; "> <h3>Posted your feedback successfully!</h3> </div>
						<div id="error_message" style="width:100%; height:100%; display:none; "> <h3>Error</h3> Sorry there was an error sending your form. </div>
					</div>
				</div>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
					</ul>
					<p>&copy; Untitled. All rights reserved. Design: <a href="https://templated.co">hello</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>